@using bendinsnMusicApp.Models
@model Genre

<h2>Add Genre</h2>

<form action="Add" method="post">
    Name: <input type="text" name="Name" value="" autofocus /><br />
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="submit" value="Submit" />
</form>

<p>NOTE: Entering a name greater than 20 characters in length will cause a database failure.</p>
<!--Caused by the data annotations in the Genre object; why doesn't it validate user-side at all?-->