@using bendinsnMusicApp.Models
@model IEnumerable<bendinsnMusicApp.Models.Artist>

@{
    ViewData["Title"] = "Artist List";
}

<h2>Index</h2>
<a asp-controller="Artists" asp-action="Add">Add Artist</a><br /><br />

<table>
    <thead>
    <th>Artist Name</th>
    <th>Bio</th>
    </thead>
    @foreach (var artist in Model)
    {
        <tr>
            <td><a asp-action="Albums" asp-controller="Artists" asp-route-id=@artist.ArtistID>@artist.Name</a></td>
            <td>@artist.Bio</td>
        </tr>

    }
</table>

